// colors
$white: #fff;
$white-grey: #E5E5E5;
$black: #000;
$dark-black: #292929;
$gold: #ffb500;
$yellow: #caff00;
$light-blue: #00caff;
$dark-blue: #00b6e6;

$pink: #FFC0CB;
$dark-pink: #CC99A2;
$light-pink: #FFD9DF;

$pig-face: $pink;
$pig-ears: $dark-pink;
$pig-nose: $light-pink;

$main: $white-grey;
$link-color: $light-blue;
$link-color-hover: $dark-blue;

// social colors
$google-red: #F90101;
$gmail-color: $google-red;
$twitter-color: #00aced;
$linkedin-color: #007bb5;
$facebook-color: #3b5998;
$github-color: #4183c4;
$instagram-color: #125688;
$google-plus-color: #db4437;
$skype-color: #dd4b39;
$pinterest-color: #cb2027;

// width
$full: 100%;
$columns: 12;
$col-one-half: $full * (.5 / $columns);
$col-one: $full * (1 / $columns);
$col-one-and-half: $full * (1.5 / $columns);
$col-two: $full * (2 / $columns);
$col-three: $full * (3 / $columns);
$col-four: $full * (4 / $columns);
$col-five: $full * (5 / $columns);
$col-six: $full * (6 / $columns);
$col-seven: $full * (7 / $columns);
$col-eight: $full * (8 / $columns);
$col-nine: $full * (9 / $columns);
$col-ten: $full * (10 / $columns);
$col-eleven: $full * (11 / $columns);
$col-twelve: $full * (12 / $columns);

$contact-width: 300px;

// height / length
$contact-height: $contact-width / 4;

// fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
$main-font: 'Work', sans-serif;
$bold-font: "Montserrat", Helvetica, sans-serif;

// font-size
$font-size-header: 4.6em; // 46px
$font-size-bold: 1.8em; // 18px
$font-size-bold-sub: 0.6666666667em; // 18px * 2/3 = 12px
$font-size-main: 2em; // 20px

// time
$sec-2: 2s;
$sec-point-3: .3s;
$fade-in: $sec-2;
$contact-anim: $sec-point-3;

