.footer-wrapper {
  width: $full;
  display: inline-block;
  background: none;
  text-align: center;
}

.footer-content {
  height: $full;
  font-size: 1.8em;
}

.footer-tagline {
  margin: 10px auto 40px;
  color: $dark-black;
  font-family: $bold-font;
}

.footer-trademark {
  display: block;
  font-size: 0.65em;
  margin-top: 5px;
  font-family: $bold-font;
  font-weight: 100;
}

.contact-wrapper {
  max-width: 300px;
  display: inline-block;
  margin: 20px auto;
}

.contact-list-item {
  display: inline-block;
  width: $col-three;
  height: 75px;
  float: left;
}

.fade-in {
  -webkit-animation: fade-in 2s ease-out;
  -moz-animation: fade-in 2s ease-out;
  -o-animation: fade-in 2s ease-out;
  animation: fade-in 2s ease-out;
}

@-webkit-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-o-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.contact-link { //http://stackoverflow.com/questions/31212569/visited-links-lose-css-color-animation-in-chrome
  font-size: 3em;
  color: $dark-black;
}

// gmail
#gmail-footer-link.contact-link {
  -webkit-animation: in-gmail .3s ease-out;
  -moz-animation: in-gmail .3s ease-out;
  -o-animation: in-gmail .3s ease-out;
  animation: in-gmail .3s ease-out;
}

#gmail-footer-link.contact-link:focus,
#gmail-footer-link.contact-link:focus,
#gmail-footer-link.contact-link:hover,
#gmail-footer-link.contact-link:hover {
  color: $white;
  -webkit-animation: out-gmail .3s ease-out;
  -moz-animation: out-gmail .3s ease-out;
  -o-animation: out-gmail .3s ease-out;
  animation: out-gmail .3s ease-out;
}

@-webkit-keyframes in-gmail {
  0% {color: $white;}
  75% {color: $gmail-color;}
  100% {color: $dark-black;}
}

@-webkit-keyframes out-gmail {
  0% {color: $dark-black;}
  75% {color: $gmail-color;}
  100% {color: $white;}
}

@-moz-keyframes in-gmail {
  0% {color: $white;}
  75% {color: $gmail-color;}
  100% {color: $dark-black;}
}

@-moz-keyframes out-gmail {
  0% {color: $dark-black;}
  75% {color: $gmail-color;}
  100% {color: $white;}
}

@-o-keyframes in-gmail {
  0% {color: $white;}
  75% {color: $gmail-color;}
  100% {color: $dark-black;}
}

@-o-keyframes out-gmail {
  0% {color: $dark-black;}
  75% {color: $gmail-color;}
  100% {color: $white;}
}

@keyframes in-gmail {
  0% {color: $white;}
  75% {color: $gmail-color;}
  100% {color: $dark-black;}
}

@keyframes out-gmail {
  0% {color: $dark-black;}
  75% {color: $gmail-color;}
  100% {color: $white;}
}

// twitter
#twitter-footer-link.contact-link {
  -webkit-animation: in-twitter .3s ease-out;
  -moz-animation: in-twitter .3s ease-out;
  -o-animation: in-twitter .3s ease-out;
  animation: in-twitter .3s ease-out;
}

#twitter-footer-link.contact-link:focus,
#twitter-footer-link.contact-link:focus,
#twitter-footer-link.contact-link:hover,
#twitter-footer-link.contact-link:hover {
  color: $white;
  -webkit-animation: out-twitter .3s ease-out;
  -moz-animation: out-twitter .3s ease-out;
  -o-animation: out-twitter .3s ease-out;
  animation: out-twitter .3s ease-out;
}

@-webkit-keyframes in-twitter {
  0% {color: $white;}
  75% {color: $twitter-color;}
  100% {color: $dark-black;}
}

@-webkit-keyframes out-twitter {
  0% {color: $dark-black;}
  75% {color: $twitter-color;}
  100% {color: $white;}
}

@-moz-keyframes in-twitter {
  0% {color: $white;}
  75% {color: $twitter-color;}
  100% {color: $dark-black;}
}

@-moz-keyframes out-twitter {
  0% {color: $dark-black;}
  75% {color: $twitter-color;}
  100% {color: $white;}
}

@-o-keyframes in-twitter {
  0% {color: $white;}
  75% {color: $twitter-color;}
  100% {color: $dark-black;}
}

@-o-keyframes out-twitter {
  0% {color: $dark-black;}
  75% {color: $twitter-color;}
  100% {color: $white;}
}

@keyframes in-twitter {
  0% {color: $white;}
  75% {color: $twitter-color;}
  100% {color: $dark-black;}
}

@keyframes out-twitter {
  0% {color: $dark-black;}
  75% {color: $twitter-color;}
  100% {color: $white;}
}

// linkedin
#linkedin-footer-link.contact-link {
  -webkit-animation: in-linkedin .3s ease-out;
  -moz-animation: in-linkedin .3s ease-out;
  -o-animation: in-linkedin .3s ease-out;
  animation: in-linkedin .3s ease-out;
}

#linkedin-footer-link.contact-link:focus,
#linkedin-footer-link.contact-link:focus,
#linkedin-footer-link.contact-link:hover,
#linkedin-footer-link.contact-link:hover {
  color: $white;
  -webkit-animation: out-linkedin .3s ease-out;
  -moz-animation: out-linkedin .3s ease-out;
  -o-animation: out-linkedin .3s ease-out;
  animation: out-linkedin .3s ease-out;
}

@-webkit-keyframes in-linkedin {
  0% {color: $white;}
  75% {color: $linkedin-color;}
  100% {color: $dark-black;}
}

@-webkit-keyframes out-linkedin {
  0% {color: $dark-black;}
  75% {color: $linkedin-color;}
  100% {color: $white;}
}

@-moz-keyframes in-linkedin {
  0% {color: $white;}
  75% {color: $linkedin-color;}
  100% {color: $dark-black;}
}

@-moz-keyframes out-linkedin {
  0% {color: $dark-black;}
  75% {color: $linkedin-color;}
  100% {color: $white;}
}

@-o-keyframes in-linkedin {
  0% {color: $white;}
  75% {color: $linkedin-color;}
  100% {color: $dark-black;}
}

@-o-keyframes out-linkedin {
  0% {color: $dark-black;}
  75% {color: $linkedin-color;}
  100% {color: $white;}
}

@keyframes in-linkedin {
  0% {color: $white;}
  75% {color: $linkedin-color;}
  100% {color: $dark-black;}
}

@keyframes out-linkedin {
  0% {color: $dark-black;}
  75% {color: $linkedin-color;}
  100% {color: $white;}
}

// facebook
#facebook-footer-link.contact-link {
  -webkit-animation: in-facebook .3s ease-out;
  -moz-animation: in-facebook .3s ease-out;
  -o-animation: in-facebook .3s ease-out;
  animation: in-facebook .3s ease-out;
}

#facebook-footer-link.contact-link:focus,
#facebook-footer-link.contact-link:focus,
#facebook-footer-link.contact-link:hover,
#facebook-footer-link.contact-link:hover {
  color: $white;
  -webkit-animation: out-facebook .3s ease-out;
  -moz-animation: out-facebook .3s ease-out;
  -o-animation: out-facebook .3s ease-out;
  animation: out-facebook .3s ease-out;
}

@-webkit-keyframes in-facebook {
  0% {color: $white;}
  75% {color: $facebook-color;}
  100% {color: $dark-black;}
}

@-webkit-keyframes out-facebook {
  0% {color: $dark-black;}
  75% {color: $facebook-color;}
  100% {color: $white;}
}

@-moz-keyframes in-facebook {
  0% {color: $white;}
  75% {color: $facebook-color;}
  100% {color: $dark-black;}
}

@-moz-keyframes out-facebook {
  0% {color: $dark-black;}
  75% {color: $facebook-color;}
  100% {color: $white;}
}

@-o-keyframes in-facebook {
  0% {color: $white;}
  75% {color: $facebook-color;}
  100% {color: $dark-black;}
}

@-o-keyframes out-facebook {
  0% {color: $dark-black;}
  75% {color: $facebook-color;}
  100% {color: $white;}
}

@keyframes in-facebook {
  0% {color: $white;}
  75% {color: $facebook-color;}
  100% {color: $dark-black;}
}

@keyframes out-facebook {
  0% {color: $dark-black;}
  75% {color: $facebook-color;}
  100% {color: $white;}
}

// github
#github-footer-link.contact-link {
  -webkit-animation: in-github .3s ease-out;
  -moz-animation: in-github .3s ease-out;
  -o-animation: in-github .3s ease-out;
  animation: in-github .3s ease-out;
}

#github-footer-link.contact-link:focus,
#github-footer-link.contact-link:focus,
#github-footer-link.contact-link:hover,
#github-footer-link.contact-link:hover {
  color: $white;
  -webkit-animation: out-github .3s ease-out;
  -moz-animation: out-github .3s ease-out;
  -o-animation: out-github .3s ease-out;
  animation: out-github .3s ease-out;
}

@-webkit-keyframes in-github {
  0% {color: $white;}
  75% {color: $github-color;}
  100% {color: $dark-black;}
}

@-webkit-keyframes out-github {
  0% {color: $dark-black;}
  75% {color: $github-color;}
  100% {color: $white;}
}

@-moz-keyframes in-github {
  0% {color: $white;}
  75% {color: $github-color;}
  100% {color: $dark-black;}
}

@-moz-keyframes out-github {
  0% {color: $dark-black;}
  75% {color: $github-color;}
  100% {color: $white;}
}

@-o-keyframes in-github {
  0% {color: $white;}
  75% {color: $github-color;}
  100% {color: $dark-black;}
}

@-o-keyframes out-github {
  0% {color: $dark-black;}
  75% {color: $github-color;}
  100% {color: $white;}
}

@keyframes in-github {
  0% {color: $white;}
  75% {color: $github-color;}
  100% {color: $dark-black;}
}

@keyframes out-github {
  0% {color: $dark-black;}
  75% {color: $github-color;}
  100% {color: $white;}
}

// instagram
#instagram-footer-link.contact-link {
  -webkit-animation: in-instagram .3s ease-out;
  -moz-animation: in-instagram .3s ease-out;
  -o-animation: in-instagram .3s ease-out;
  animation: in-instagram .3s ease-out;
}

#instagram-footer-link.contact-link:focus,
#instagram-footer-link.contact-link:focus,
#instagram-footer-link.contact-link:hover,
#instagram-footer-link.contact-link:hover {
  color: $white;
  -webkit-animation: out-instagram .3s ease-out;
  -moz-animation: out-instagram .3s ease-out;
  -o-animation: out-instagram .3s ease-out;
  animation: out-instagram .3s ease-out;
}

@-webkit-keyframes in-instagram {
  0% {color: $white;}
  75% {color: $instagram-color;}
  100% {color: $dark-black;}
}

@-webkit-keyframes out-instagram {
  0% {color: $dark-black;}
  75% {color: $instagram-color;}
  100% {color: $white;}
}

@-moz-keyframes in-instagram {
  0% {color: $white;}
  75% {color: $instagram-color;}
  100% {color: $dark-black;}
}

@-moz-keyframes out-instagram {
  0% {color: $dark-black;}
  75% {color: $instagram-color;}
  100% {color: $white;}
}

@-o-keyframes in-instagram {
  0% {color: $white;}
  75% {color: $instagram-color;}
  100% {color: $dark-black;}
}

@-o-keyframes out-instagram {
  0% {color: $dark-black;}
  75% {color: $instagram-color;}
  100% {color: $white;}
}

@keyframes in-instagram {
  0% {color: $white;}
  75% {color: $instagram-color;}
  100% {color: $dark-black;}
}

@keyframes out-instagram {
  0% {color: $dark-black;}
  75% {color: $instagram-color;}
  100% {color: $white;}
}

// google-plus
#google-plus-footer-link.contact-link {
  -webkit-animation: in-google-plus .3s ease-out;
  -moz-animation: in-google-plus .3s ease-out;
  -o-animation: in-google-plus .3s ease-out;
  animation: in-google-plus .3s ease-out;
}

#google-plus-footer-link.contact-link:focus,
#google-plus-footer-link.contact-link:focus,
#google-plus-footer-link.contact-link:hover,
#google-plus-footer-link.contact-link:hover {
  color: $white;
  -webkit-animation: out-google-plus .3s ease-out;
  -moz-animation: out-google-plus .3s ease-out;
  -o-animation: out-google-plus .3s ease-out;
  animation: out-google-plus .3s ease-out;
}

@-webkit-keyframes in-google-plus {
  0% {color: $white;}
  75% {color: $google-plus-color;}
  100% {color: $dark-black;}
}

@-webkit-keyframes out-google-plus {
  0% {color: $dark-black;}
  75% {color: $google-plus-color;}
  100% {color: $white;}
}

@-moz-keyframes in-google-plus {
  0% {color: $white;}
  75% {color: $google-plus-color;}
  100% {color: $dark-black;}
}

@-moz-keyframes out-google-plus {
  0% {color: $dark-black;}
  75% {color: $google-plus-color;}
  100% {color: $white;}
}

@-o-keyframes in-google-plus {
  0% {color: $white;}
  75% {color: $google-plus-color;}
  100% {color: $dark-black;}
}

@-o-keyframes out-google-plus {
  0% {color: $dark-black;}
  75% {color: $google-plus-color;}
  100% {color: $white;}
}

@keyframes in-google-plus {
  0% {color: $white;}
  75% {color: $google-plus-color;}
  100% {color: $dark-black;}
}

@keyframes out-google-plus {
  0% {color: $dark-black;}
  75% {color: $google-plus-color;}
  100% {color: $white;}
}

// pinterest
#pinterest-footer-link.contact-link {
  -webkit-animation: in-pinterest .3s ease-out;
  -moz-animation: in-pinterest .3s ease-out;
  -o-animation: in-pinterest .3s ease-out;
  animation: in-pinterest .3s ease-out;
}

#pinterest-footer-link.contact-link:focus,
#pinterest-footer-link.contact-link:focus,
#pinterest-footer-link.contact-link:hover,
#pinterest-footer-link.contact-link:hover {
  color: $white;
  -webkit-animation: out-pinterest .3s ease-out;
  -moz-animation: out-pinterest .3s ease-out;
  -o-animation: out-pinterest .3s ease-out;
  animation: out-pinterest .3s ease-out;
}

@-webkit-keyframes in-pinterest {
  0% {color: $white;}
  75% {color: $pinterest-color;}
  100% {color: $dark-black;}
}

@-webkit-keyframes out-pinterest {
  0% {color: $dark-black;}
  75% {color: $pinterest-color;}
  100% {color: $white;}
}

@-moz-keyframes in-pinterest {
  0% {color: $white;}
  75% {color: $pinterest-color;}
  100% {color: $dark-black;}
}

@-moz-keyframes out-pinterest {
  0% {color: $dark-black;}
  75% {color: $pinterest-color;}
  100% {color: $white;}
}

@-o-keyframes in-pinterest {
  0% {color: $white;}
  75% {color: $pinterest-color;}
  100% {color: $dark-black;}
}

@-o-keyframes out-pinterest {
  0% {color: $dark-black;}
  75% {color: $pinterest-color;}
  100% {color: $white;}
}

@keyframes in-pinterest {
  0% {color: $white;}
  75% {color: $pinterest-color;}
  100% {color: $dark-black;}
}

@keyframes out-pinterest {
  0% {color: $dark-black;}
  75% {color: $pinterest-color;}
  100% {color: $white;}
}

