.footer-wrapper {
  // width: $full;
  // display: inline-block;
}

.footer-content {
  height: $full;
  font-size: $font-size-bold;
}

.footer-tagline {
  margin: 10px auto 40px;
  color: $dark-black;
  font-family: $bold-font;
}

.footer-trademark {
  display: block;
  font-size: $font-size-bold-sub;
  margin-top: 5px;
  font-family: $bold-font;
  font-weight: 100;
}

.contact-wrapper {
  max-width: $contact-width;
  display: inline-block;
  margin: 20px auto;
}

.contact-list-item {
  display: inline-block;
  width: $col-three;
  height: $contact-height;
  float: left;
}

.fade-in {
  @include fade-in(fade-in);
}

@include keyframes(fade-in){
  from {opacity: 0;}
  to {opacity: 1;}
}

.contact-link {
  font-size: 3em;
  color: $dark-black;
}

// gmail
#gmail-footer-link.contact-link {
  @include contact-hover(hover-out-gmail);
  &:active,
  &:visited:active {
    color: $gmail-color;
  }
}

#gmail-footer-link.contact-link:focus,
#gmail-footer-link.contact-link:hover {
  color: $white;
  @include contact-hover(hover-gmail)
}

@include keyframes(hover-gmail) {
  0% {
    color: $dark-black;
  }
  75% {
    color: $gmail-color;
  }
  100% {
    color: $white;
  }
}

@include keyframes(hover-out-gmail) {
  0% {color: $white;}
  75% {color: $gmail-color;}
  100% {color: $dark-black;}
}

// twitter
#twitter-footer-link.contact-link {
  @include contact-hover(hover-out-twitter);
  &:active,
  &:visited:active {
    color: $twitter-color;
  }
}

#twitter-footer-link.contact-link:focus,
#twitter-footer-link.contact-link:hover {
  color: $white;
  @include contact-hover(hover-twitter)
}

@include keyframes(hover-twitter) {
  0% {
    color: $dark-black;
  }
  75% {
    color: $twitter-color;
  }
  100% {
    color: $white;
  }
}

@include keyframes(hover-out-twitter) {
  0% {color: $white;}
  75% {color: $twitter-color;}
  100% {color: $dark-black;}
}

// linkedin
#linkedin-footer-link.contact-link {
  @include contact-hover(hover-out-linkedin);
  &:active,
  &:visited:active {
    color: $linkedin-color;
  }
}

#linkedin-footer-link.contact-link:focus,
#linkedin-footer-link.contact-link:hover {
  color: $white;
  @include contact-hover(hover-linkedin)
}

@include keyframes(hover-linkedin) {
  0% {
    color: $dark-black;
  }
  75% {
    color: $linkedin-color;
  }
  100% {
    color: $white;
  }
}

// facebook
#facebook-footer-link.contact-link {
  @include contact-hover(hover-out-facebook);
  &:active,
  &:visited:active {
    color: $facebook-color;
  }
}

#facebook-footer-link.contact-link:focus,
#facebook-footer-link.contact-link:hover {
  color: $white;
  @include contact-hover(hover-facebook)
}

@include keyframes(hover-facebook) {
  0% {
    color: $dark-black;
  }
  75% {
    color: $facebook-color;
  }
  100% {
    color: $white;
  }
}

// github
#github-footer-link.contact-link {
  @include contact-hover(hover-out-github);
  &:active,
  &:visited:active {
    color: $github-color;
  }
}

#github-footer-link.contact-link:focus,
#github-footer-link.contact-link:hover {
  color: $white;
  @include contact-hover(hover-github)
}

@include keyframes(hover-github) {
  0% {
    color: $dark-black;
  }
  75% {
    color: $github-color;
  }
  100% {
    color: $white;
  }
}

// instagram
#instagram-footer-link.contact-link {
  @include contact-hover(hover-out-instagram);
  &:active,
  &:visited:active {
    color: $instagram-color;
  }
}

#instagram-footer-link.contact-link:focus,
#instagram-footer-link.contact-link:hover {
  color: $white;
  @include contact-hover(hover-instagram)
}

@include keyframes(hover-instagram) {
  0% {
    color: $dark-black;
  }
  75% {
    color: $instagram-color;
  }
  100% {
    color: $white;
  }
}

// google-plus
#google-plus-footer-link.contact-link {
  @include contact-hover(hover-out-google-plus);
  &:active,
  &:visited:active {
    color: $google-plus-color;
  }
}

#google-plus-footer-link.contact-link:focus,
#google-plus-footer-link.contact-link:hover {
  color: $white;
  @include contact-hover(hover-google-plus)
}

@include keyframes(hover-google-plus) {
  0% {
    color: $dark-black;
  }
  75% {
    color: $google-plus-color;
  }
  100% {
    color: $white;
  }
}

// pinterest
#pinterest-footer-link.contact-link {
  @include contact-hover(hover-out-pinterest);
  &:active,
  &:visited:active {
    color: $pinterest-color;
  }
}

#pinterest-footer-link.contact-link:focus,
#pinterest-footer-link.contact-link:hover {
  color: $white;
  @include contact-hover(hover-pinterest)
}

@include keyframes(hover-pinterest) {
  0% {
    color: $dark-black;
  }
  75% {
    color: $pinterest-color;
  }
  100% {
    color: $white;
  }
}

