.page-content-wrapper {
  width: $full;
  display: inline-block;
  color: $dark-black;
}

.page-content {
  width: $col-six;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

.page-section {
  width: $full;
  padding: 20px;
  background: $white;
  border-radius: 8px;
  color: $dark-black;
  text-align: left;
  font-family: $main-font;
  font-weight: 100;
  font-size: $font-size-main;
}

.page-section,
.page-tagline {
  margin: 60px auto;
}

.page-tagline {
  font-size: $font-size-bold;
  font-family: $bold-font;
  letter-spacing: -1px;
}

#pat-logo {
  height: 213px;
  width: 150px;
  margin: 0 auto;
  background: url(image_path('pat_logo.png'));
  background-repeat: no-repeat;
  opacity: 0.84; // #292929 == (41,41,41) => 1 - 41 / 255 = 0.839215686
}

@media screen and (max-width: 400px){
  .page-content {
    width: $col-ten;
  }

  .page-tagline {
    width: 60%;
  }
}
