.page-content-wrapper {
  width: $full;
  display: inline-block;
}

.page-content {
  width: $col-eight;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

.page-section {
  width: $full;
  padding: 20px;
  background: $white;
  border-radius: 8px;
  color: $dark-black;
  text-align: left;
  font-family: $main-font;
  font-weight: 100;
  font-size: 2em;
}

.page-section,
.page-tagline {
  margin: 60px 0;
}

.page-tagline {
  font-size: 1.8em;
  font-family: $bold-font;
  letter-spacing: -1px;
}