<% @demos.map do |demo| %>
  <article class="article">
    <h3 class="article-title"><%= link_to demo.title, demo_path(demo), class: 'link-page' %></h3>
    <%= demo.pretty_text %>
  </article>
<% end %>
