<article class="article">
  <%= @demo.pretty_text %>

  <div id="app">
    <h2 class="app-header" :style="show_game_status()">{{ game_status }}</h2>
    <p class="article-p">
      Choose how many players (1-6):
      <input
        class="form-input-text form-input-text-inline"
        type="number"
        min="1"
        max="6"
        v-model="players_count"
        @change="update_players_count"
        :disabled="game_started"
      >
    </p>
    <p>
      <button
        @click="deal"
        :disabled="game_started"
      >Start Game</button>
    </p>
    <p>
      <button
        @click="restart"
        :disabled="!game_started"
      >Restart</button>
    </p>

    <box
      v-for="player in players"
      :player="player"
    ></box>

    <box :player="dealer"></box>

    <p>Deck:</p>
    <card
      v-for="card in deck"
      :card="card"
    ></card>
    <p>cards left in deck: {{ deck.length }}</p>
  </div>


</article>
<% content_for :javascript_includes do %>
  <%= render "demos/scripts/#{@demo.title.gsub(/ /, '_')}" %>
<% end %>
