<article class="article">
  <%= @demo.pretty_text %>

  <div id="app">
    <p>{{ message }}</p>
    <p>game_status: {{ game_status }}</p>
    <p>game_started: {{ game_started }}</p>
    <p>game_over: {{ game_over }}</p>
    <p>cards left in deck: {{ deck.length }}</p>
    <p>current_player: {{ current_player.player_name }}</p>
    <p>
      <button @click="shuffle">Shuffle</button>
    </p>
    <p>
      <button @click="deal">Deal</button>
    </p>
    <p>
      <button @click="restart">Restart</button>
    </p>

    <box
      v-for="player in players"
      :player="player"
    ></box>

    <box :player="dealer"></box>

    <p>Deck:</p>
    <card
      v-for="card in deck"
      :card="card"
    ></card>
  </div>


</article>
<% content_for :javascript_includes do %>
  <%= render "demos/scripts/#{@demo.title.gsub(/ /, '_')}" %>
<% end %>
