<% content_for :javascript_includes do %>
  <%= render "demos/scripts/#{@demo.title.gsub(/ /, '_')}" %>
<% end %>
<div class="page-section">
  <div class="section-content section-content-left">
    <h2 class="page-title"><%= @demo.title %></h2>
    <article class="article">
      <%= @demo.pretty_text %>
    </article>
  </div>
</div>
