<article class="article">
  <%= @demo.pretty_text %>

  <div id="app">
    {{ message }}
    <ul v-for="card in cards">
      <li v-html="pretty_card(card)"></li>
    </ul>
  </div>


</article>
<% content_for :javascript_includes do %>
  <%= render "demos/scripts/#{@demo.title.gsub(/ /, '_')}" %>
<% end %>
