<article class="article">
  <%= @demo.pretty_text %>

  <div id="app">
    <p>{{ message }}</p>
    <p>game_status: {{ game_status }}</p>
    <p>game_started: {{ game_started }}</p>
    <p>game_over: {{ game_over }}</p>
    <p>cards count: {{ cards.length }}</p>
    <p>
      <button @click="shuffle">Shuffle</button>
    </p>
    <p>
      <button @click="deal">Deal</button>
    </p>
    <p>
      <button @click="restart">Restart</button>
    </p>
    <p>Player hand:</p>
    <div v-html="player_score(score)"></div>
    <card
      v-for="hand in hands"
      :card="hand"
    ></card>
    <p>Dealer hand:</p>
    <div v-html="show_dealer_score(dealer_score)"></div>
    <card
      v-for="dealer_hand in dealer_hands"
      :card="dealer_hand"
    ></card>
    <p>Deck:</p>
    <card
      v-for="card in cards"
      :card="card"
    ></card>
  </div>


</article>
<% content_for :javascript_includes do %>
  <%= render "demos/scripts/#{@demo.title.gsub(/ /, '_')}" %>
<% end %>
