<article class="article">
  <%= @demo.pretty_text %>

  <div id="app">
    <h2 :style="show_game_status()">{{ game_status }}</h2>
    <p>game_started: {{ game_started }}</p>
    <p>game_over: {{ game_over }}</p>
    <p>cards left in deck: {{ deck.length }}</p>
    <p>current_player: {{ current_player.player_name }}</p>
    <p>number of players: {{ players_count }}</p>
    <p>
      <input
        type="number"
        min="1"
        max="6"
        v-model="players_count"
        @change="update_players_count"
        :disabled="game_started"
      >
    </p>
    <p>
      <button
        @click="shuffle"
        :disabled="game_started"
      >Shuffle</button>
    </p>
    <p>
      <button
        @click="deal"
        :disabled="game_started"
      >Start Game</button>
    </p>
    <p>
      <button
        @click="restart"
        :disabled="!game_started"
      >Restart</button>
    </p>

    <box
      v-for="player in players"
      :player="player"
    ></box>

    <box :player="dealer"></box>

    <p>Deck:</p>
    <card
      v-for="card in deck"
      :card="card"
    ></card>
  </div>


</article>
<% content_for :javascript_includes do %>
  <%= render "demos/scripts/#{@demo.title.gsub(/ /, '_')}" %>
<% end %>
