<article class="article">
  <%= @demo.pretty_text %>

  <div id="app">
    <p>{{ message }}</p>
    <p>
      <button @click="shuffle">Shuffle</button>
    </p>
    <p>
      <button @click="deal">Deal</button>
    </p>
    <p>Player hand:</p>
    <div v-html="player_score(score)"></div>
    <card
      v-for="hand in hands"
      :card="hand"
    ></card>
    <p>Deck:</p>
    <card
      v-for="card in cards"
      :card="card"
    ></card>
  </div>


</article>
<% content_for :javascript_includes do %>
  <%= render "demos/scripts/#{@demo.title.gsub(/ /, '_')}" %>
<% end %>
