.footer-wrapper {
  width: $full;
  display: inline-block;
  background: none;
  padding: 10px;
  text-align: center;
}

.footer-tagline {
  display: block;
  margin: 0 auto 40px;
  color: $dark-black;
  font-size: 1.4em;
}