<div class="page-section">
  <div class="section-content section-content-left">
    <h2 class="page-title">new blog</h2>
    <article class="article">
      <%= render 'form' %>
    </article>
  </div>
</div>
