<div class="page-section">
  <div class="section-content section-content-left">
    <h2 class="page-title">blog</h2>

    <h3 class="article-title">introduction</h3>
    <%= image_tag 'https://media.giphy.com/media/QQkyLVLAbQRKU/giphy.gif', alt: 'Austin Powers - "Allow myself to introduce... myself', class: 'img-page' %>
    <p class="article-p">Hello!</p>

    <p class="article-p">After recently leaving <%= link_to 'OpenCity', 'https://opencity.co', class: 'pat-link link-page', target: '_blank' %>, the startup I've built over the past two years, I have rebuilt my personal website for the purposes of marketing myself to future employers, other devs, or anyone who cares check me out. I expect to keep the content strictly web dev-oriented. Who knows, maybe I'll even enjoy it. I could set up notifications fairly easily using <%= link_to 'OneSignal', 'https://www.onesignal.com', class: 'link-page', target: '_blank' %>, but I hear that might not be a <%= link_to 'well received', 'https://twitter.com/fart/status/1022353640214822912', class: 'link-page', target: '_blank' %> so you're just going to have to check in to see if I write anything else.</p>

    <p class="article-p">There are a lot of things I'll be looking to learn during this time, but for now I'll share a few tricks I've added to my site:</p>

    <ul class="article-ul">
      <li class="article-li">yo</li>
      <li class="article-li">yoa</li>
    </ul>


    <p class="article-p"></p>

  </div>
</div>
