<h1>oui!</h1>
<div class="pig-pen">
  <div class="pig-head">
    <div class="pig-ears">
      <div class="pig-ear left"></div>
      <div class="pig-ear right"></div>
    </div>
    <div class="pig-eyes">
      <div class="pig-eye left"></div>
      <div class="pig-eye right"></div>
    </div>
    <div class="pig-snout">
      <div class="pig-nostril left"></div>
      <div class="pig-nostril right"></div>
    </div>
  </div>
</div>