<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900">
<style>
.card-item {
  width: 50px;
  height: 80px;
  display: inline-block;
  position: relative;
  margin: 20px;
  margin-right: -30px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font: 1rem/1.175 "BlinkMacSystemFont", -apple-system, "Roboto", sans-serif;
}

.card-name--top,
.card-name--bottom {
  position: absolute;
  padding: 5px;
}

.card-name--top {
  top: 0;
  left: 0;
}

.card-name--bottom {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.card-suit {
  line-height: 80px;
}


</style>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

Vue.component('card', {
  props: ['card'],
  template: `
    <li class="card-item">
      <span class="card-name--top">{{ pretty_card(card) }}</span>
      <span class="card-suit">{{ card.suit }}</span>
      <span class="card-name--bottom">{{ pretty_card(card) }} </span>
    </li>
  `,
  methods: {
    pretty_card: function(card){
      return card.name.toString().toUpperCase()
    }
  }
})

function suits(){
  return ['❤️','♠️','♦️','♣️'];
};

function cards_by_type(){
  var deck = [
    {name: 'a', value: 11, alt_value: 1},
    {name: 'k', value: 10},
    {name: 'q', value: 10},
    {name: 'j', value: 10}
  ];
  for (var i = 10; i > 1; i--){
    deck.push({name: i, value: i});
  }
  return deck;
};

function get_suits(cards){
  var deck = [];
  cards.forEach(function(card){
    suits().forEach(function(suit){
      var card_copy = JSON.parse(JSON.stringify(card));
      card_copy.suit = suit;
      deck = [...deck, card_copy];
    });
  });
  return deck;
}

function cards(){
  return get_suits(cards_by_type());
}

var app = new Vue({
  el: '#app',
  data: {
    message: 'Hi Pat!',
    cards: cards()
  },
  methods: {
    shuffle: function(){
      return this.cards.sort((a, b) => Math.random() > .5 ? -1 : 1);
    }
  }
});
</script>
