<div class="content-wrapper">
  <a href="#top" class="back-to-top" name="about"><i class="fa fa-arrow-circle-up"></i></a>
  <div class="content">
    <h1>about</h1>
    <p>I am a web developer. I will try things here.</p>
    <p>I am happily working at <a href="http://www.ditto.us.com" class="page-link">Ditto Labs</a> where I work mainly on front-end development.</p>
  </div>
</div>