<div class="content-wrapper" name="blog">
  <div class="content">
    <div class="content-header">
      <h1>blog</h1>
      <a href="#top" class="to-top"><i class="fa fa-arrow-circle-up"></i></a>
    </div>
  </div>
</div>