<div class="content-wrapper" name="projects">
  <div class="content">
    <div class="content-header">
      <h1>projects</h1>
      <a href="#top" class="to-top"><i class="fa fa-arrow-circle-up"></i></a>
    </div>
    <p>Most of my work is done at <a href="http://www.ditto.us.com" class="page-link">Ditto Labs</a>. Please feel free to check out some of the products there :)</p>
    <p>Some examples of personal projects can be found here:</p>
    <div class="main-projects">
      <div class="main-project">
        <div class="main-project-link-container">
          <a href="http://www.devourr.com" class="page-link main-project-title" target="_blank">Devourr</a>
        </div>
        <div class="main-project-description-container">
          <p class="main-project-description">The start of a social food picture sharing web app.</p>
        </div>
      </div>
      <div class="main-project">
        <div class="main-project-link-container">
          <a href="http://goodeats.github.io/twizzer_frontend/" class="page-link main-project-title" target="_blank">Twitter API</a>
        </div>
        <div class="main-project-description-container">
          <p class="main-project-description">Played around with Twitter's API to call tweets and pics by user handle.</p>
        </div>
      </div>
      <!-- <div class="main-project">
        <div class="main-project-link-container">
          <a href="#" class="page-link main-project-title" target="_blank">devourr</a>
        </div>
        <div class="main-project-description-container">
          <p class="main-project-description">this is a description 3</p>
        </div>
      </div> -->
    </div>
    <p>I will be looking to roll out a gallery of web tricks soon!</p>
  </div>
</div>