<div class="page-section">
  <div class="section-content section-content-left">
    <h2 class="page-title">my projects</h2>
    <% @projects.map do |project| %>
      <article class="article">
        <h3 class="article-title"><%= project.name %></h3>
        <% project.description.split(/\n/).map do |description_line| %>
          <p class="article-p"><%= description_line %></p>
        <% end %>
        <p class="article-p"><%= link_to project.url, project.url, class: 'pat-link link-page', target: '_blank' %></p>
      </article>
    <% end %>
  </div>
</div>

