<div class="page-section">
  <div class="section-content section-content-left">
    <h2 class="section-title">my projects</h2>
    <h3 class="section-sub-title">OpenCity</h3>
    <p class="section-p">Messaging Platform for restaurants and night clubs to have the ability to text with their customers</p>
    <p class="section-p">I was the technical co-founder that built the platform from concept to seed investment.</p>
    <p class="section-p"><%= link_to 'opencity.co', 'https://opencity.co', class: 'pat-link link-page', target: '_blank' %></p>
  </div>
</div>
