@import 'colors';

$background-submit: $color-complement-0;

// flash
$background-flash: $color-secondary-2-1;
$background-flash-success: $color-complement-1;
$background-flash-warning: $color-secondary-1-1;
$background-flash-danger: $color-primary-1;
