@import 'colors';
@import 'colors-paletton';

$border-main: 1px solid $dark-black;
$border-color: 1px solid $color-primary-2;
$border-color-thick: 5px solid $color-primary-2;
$border-color-complement: 1px solid $color-complement-2;

$border-nav-ul: $border-main;
$border-header: $border-color;

$border-page-title: $border-color-thick;

// form
$border-label: $border-color-thick;
$border-input: $border-main;
$border-submit: $border-color-complement;

// flash
$border-flash: $color-secondary-2-0;
$border-flash-success: $color-complement-0;
$border-flash-warning: $color-secondary-1-0;
$border-flash-danger: $color-primary-0;
