@import 'colors-paletton';

$white: #fff;
$dark-black: #292929;
$color-grey: #F0F0F0;

// font color
$color-font: $dark-black;

// link color
$color-link: $color-complement-0;
$color-link-hover: $color-complement-3;
$color-nav-li-link-hover: $color-secondary-2-0;

$color-link-contact: $dark-black;

// social
$color-gmail: #F90101;
$color-twitter: #00aced;
$color-linkedin: #007bb5;
$color-facebook: #3b5998;
$color-github: #4183c4;
$color-instagram: #bc2a8d;

// color of the year 2017
$greenery: #88B04B;
$dark-greenery: #445825;

// color of the year 2018
$ultra-violet: #654EA3;
$ultra-violet-dark: #322751;
