$white: #fff;
$dark-black: #292929;

// color of the year 2017
$greenery: #88B04B;
$dark-greenery: #445825;

// color of the year 2018
$ultra-violet: #654EA3;
$ultra-violet-dark: #322751;

// font color
$color-font: $dark-black;

// link color
$color-link: $ultra-violet;
$color-link-hover: $ultra-violet-dark;

$color-link-contact: $color-link;

// social
$gmail-color: #F90101;
$twitter-color: #00aced;
$linkedin-color: #007bb5;
$facebook-color: #3b5998;
$github-color: #4183c4;
$instagram-color: #bc2a8d;

$color-gmail: #F90101;
$color-twitter: #00aced;
$color-linkedin: #007bb5;
$color-facebook: #3b5998;
$color-github: #4183c4;
$color-instagram: #bc2a8d;
