$font-size-header: 4.6em; // 46px
$font-size-bold: 1.8em; // 18px
$font-size-normal: 1.6em; // 18px
$font-size-bold-sub: 0.6666666667em; // 18px * 2/3 = 12px
$font-size-main: 2em; // 20px

$font-size-nav: $font-size-bold;
