// width
$full: 100%;
$columns: 12;
$col-one-half: $full * (.5 / $columns);
$col-one: $full * (1 / $columns);
$col-one-and-half: $full * (1.5 / $columns);
$col-two: $full * (2 / $columns);
$col-three: $full * (3 / $columns);
$col-four: $full * (4 / $columns);
$col-five: $full * (5 / $columns);
$col-six: $full * (6 / $columns);
$col-seven: $full * (7 / $columns);
$col-eight: $full * (8 / $columns);
$col-nine: $full * (9 / $columns);
$col-ten: $full * (10 / $columns);
$col-eleven: $full * (11 / $columns);
$col-twelve: $full * (12 / $columns);

$contact-width: 300px;

// height / length
$contact-height: $contact-width / 4;
