// generic
$full: 100%;
$half: 50%;

$thin: 1px;

// columns
$columns: 12;
$col-one-half: $full * (.5 / $columns);
$col-one: $full * (1 / $columns);
$col-one-and-half: $full * (1.5 / $columns);
$col-two: $full * (2 / $columns);
$col-three: $full * (3 / $columns);
$col-four: $full * (4 / $columns);
$col-five: $full * (5 / $columns);
$col-six: $full * (6 / $columns);
$col-seven: $full * (7 / $columns);
$col-eight: $full * (8 / $columns);
$col-nine: $full * (9 / $columns);
$col-ten: $full * (10 / $columns);
$col-eleven: $full * (11 / $columns);
$col-twelve: $full * (12 / $columns);

// width
$width-max: 600px;

// height
$height-nav: 100px;
$height-nav-li-link-hover: 5px;

// contact link
$contact-width: 300px;
$contact-height: $contact-width / 4;


// margin/padding
$spacing-main: 20px;
$spacing-smaller: $spacing-main / 4;
$spacing-small: $spacing-main / 2;
$spacing-double: $spacing-main * 2;
$spacing-large: $spacing-main * 2.5;

// // input padding
$spacing-input: $spacing-smaller $spacing-small;

// device
$width-mobile: 768px;
