<nav id="nav" class="nav" role="navigation">
  <div class="nav-toggle-container">
    <%#= link_to 'menu', '#', id: 'nav-toggle', class: 'nav-toggle' %>
    <button id="nav-toggle" class="hamburger hamburger--spring" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <ul id="menu" class="nav-ul">
    <li class="nav-li">
      <%= link_to 'Home', root_path, title: 'Home', class: 'nav-li-link' %>
    </li>
    <li class="nav-li">
      <%= link_to 'About', about_index_path, title: 'About Me', class: 'nav-li-link' %>
    </li>
    <li class="nav-li">
      <%= link_to 'Projects', projects_path, title: 'My Projects', class: 'nav-li-link' %>
    </li>
    <li class="nav-li">
      <%= link_to 'Blog', articles_path, title: 'Blog', class: 'nav-li-link' %>
    </li>
  </ul>
</nav>
