<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-li">
      <a href="/" title="Home" class="nav-li-link">Home</a>
    </li>
    <li class="nav-li">
      <%= link_to 'About', '/', title: 'About Me', class: 'nav-link' %>
    </li>
  </ul>
</nav>
