@import 'modules';

.contact-wrapper {
  max-width: $contact-width;
  display: inline-block;
}

.contact-list-item {
  display: inline-block;
  width: $col-four;
  height: $contact-height;
  float: left;
}

.fade-in {
  @include fade-in(fade-in);
}

@include keyframes(fade-in){
  from {opacity: 0;}
  to {opacity: 1;}
}

.contact-link {
  font-size: 3em;
  color: $color-link-contact;
  text-shadow: $text-shadow-main;
}

// gmail
#mail-footer-link.contact-link {
  @include contact-hover(hover-out-mail);
  &:active,
  &:visited:active {
    color: $color-gmail;
  }
}

#mail-footer-link.contact-link:focus,
#mail-footer-link.contact-link:hover {
  color: $color-gmail;
  @include contact-hover(hover-mail)
}

@include keyframes(hover-mail) {
  0% {
    color: $color-link-contact;
  }
  75% {
    color: $white;
  }
  100% {
    color: $color-gmail;
  }
}

@include keyframes(hover-out-mail) {
  0% {
    color: $color-gmail;
  }
  75% {
    color: $white;
  }
  100% {
    color: $color-link-contact;
  }
}

// twitter
#twitter-footer-link.contact-link {
  @include contact-hover(hover-out-twitter);
  &:active,
  &:visited:active {
    color: $color-twitter;
  }
}

#twitter-footer-link.contact-link:focus,
#twitter-footer-link.contact-link:hover {
  color: $color-twitter;
  @include contact-hover(hover-twitter)
}

@include keyframes(hover-twitter) {
  0% {
    color: $color-link-contact;
  }
  75% {
    color: $white;
  }
  100% {
    color: $color-twitter;
  }
}

@include keyframes(hover-out-twitter) {
  0% {
    color: $color-twitter;
  }
  75% {
    color: $white;
  }
  100% {
    color: $color-link-contact;
  }
}

// linkedin
#linkedin-footer-link.contact-link {
  @include contact-hover(hover-out-linkedin);
  &:active,
  &:visited:active {
    color: $color-linkedin;
  }
}

#linkedin-footer-link.contact-link:focus,
#linkedin-footer-link.contact-link:hover {
  color: $color-linkedin;
  @include contact-hover(hover-linkedin)
}

@include keyframes(hover-linkedin) {
  0% {
    color: $color-link-contact;
  }
  75% {
    color: $white;
  }
  100% {
    color: $color-linkedin;
  }
}

// facebook
#facebook-footer-link.contact-link {
  @include contact-hover(hover-out-facebook);
  &:active,
  &:visited:active {
    color: $color-facebook;
  }
}

#facebook-footer-link.contact-link:focus,
#facebook-footer-link.contact-link:hover {
  color: $color-facebook;
  @include contact-hover(hover-facebook)
}

@include keyframes(hover-facebook) {
  0% {
    color: $color-link-contact;
  }
  75% {
    color: $white;
  }
  100% {
    color: $color-facebook;
  }
}

// github
#github-circled-footer-link.contact-link {
  @include contact-hover(hover-out-github-circled);
  &:active,
  &:visited:active {
    color: $color-github;
  }
}

#github-circled-footer-link.contact-link:focus,
#github-circled-footer-link.contact-link:hover {
  color: $color-github;
  @include contact-hover(hover-github-circled)
}

@include keyframes(hover-github-circled) {
  0% {
    color: $color-link-contact;
  }
  75% {
    color: $white;
  }
  100% {
    color: $color-github;
  }
}

// instagram
#instagram-footer-link.contact-link {
  @include contact-hover(hover-out-instagram);
  &:active,
  &:visited:active {
    color: $color-instagram;
  }
}

#instagram-footer-link.contact-link:focus,
#instagram-footer-link.contact-link:hover {
  color: $color-instagram;
  @include contact-hover(hover-instagram)
}

@include keyframes(hover-instagram) {
  0% {
    color: $color-link-contact;
  }
  75% {
    color: $white;
  }
  100% {
    color: $color-instagram;
  }
}
