@import 'modules';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  font-size: 62.5%;
  background-image: $gradient-header-alt;
}

.page-wrapper {
  width: $full;
  min-height:100vh;

  font-family: $font-main;
  color: $dark-black;
  text-align: center;

  // for smooth scrolling
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.page-content {
  width: $col-six;
  padding-top: $spacing-large - $spacing-main;
  max-width: $width-max;
  margin: 0 auto;
}

@media screen and (max-width: 400px){
  .page-content {
    width: $col-ten;
  }
}
