@import 'modules';

.link-page {
  position: relative;
  text-decoration: none;
  color: $color-link;
  font-style: italic;
  font-weight: 800;

  // https://medium.com/@dave_lunny/stylish-a-styling-e80c80cbc30e
  &:before {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: $half;
    transform: translateX(-$half);
    transition: $transition-main;
    background-color: $color-link;
  }
  &:hover {
    &:before {
      width: $full;
      height: 2px;
      bottom: -1px;
      background-color: $color-link-hover;
    }
  }
}

.link-page:focus,
.link-page:hover {
  color: $color-link-hover;
  -webkit-transition: $transition-main-color;
  -moz-transition: $transition-main-color;
  -o-transition: $transition-main-color;
  transition: $transition-main-color;
}

