@import 'modules';

.nav {
  width: $full;
  margin-bottom: $spacing-large;
  background: $white;
  box-shadow: $box-shadow-nav;
}

.nav-ul {
  display: flex;
  border-bottom: $border-nav-ul;
}

.nav-li {
  flex: 1;
  padding: $spacing-main;
  cursor: pointer;
}

.nav-li-link {
  font-family: $font-main;
  font-size: $font-size-nav;
  text-decoration: none;
}
