@import 'modules';

.nav {
  // box-shadow: $box-shadow-nav;
  transition: $transition-main;
}

.nav.nav-active {
  background: $white;
  transition: $transition-main;
}

.nav-ul {
  display: none;
  max-width: $width-max;
  margin: 0 auto;
  border-bottom: $border-nav-ul;
  border-bottom-width: 0;
  transition: border-bottom-width 0.3s ease;
}

.nav-active .nav-ul {
  border-bottom-width: 1px;
  transition: border-bottom-width 0.3s ease;
}

.nav-li {
  flex: 1;
  text-align: center;
}

.nav-li:last-child {
  margin-bottom: $spacing-main;
}

.nav-li-link,
.nav-toggle {
  line-height: 3;

  font-family: $font-main;
  font-size: $font-size-nav;
  text-decoration: none;
  color: $dark-black;

  transition: $transition-main;
}

.nav-li-link {
  display: block;
  position: relative;

  &:focus,
  &:hover {
    color: $color-link-hover;
    transition: $transition-main;
    background-color: $color-grey;

    &:before {
      width: $full;
      height: $height-nav-li-link-hover;
      background-color: $dark-black;
    }
  }
}

.nav-toggle-container {
  display: block;
  text-align: right;
}

.nav-toggle {
  margin-right: $spacing-main;
  padding: $spacing-small;
  line-height: 3;
  color: $color-font;
}

@media screen and (min-width: $width-mobile){

  .nav-ul {
    display: flex !important;
    border-bottom: $border-nav-ul;
  }

  .nav-li {
    padding: 0 $spacing-main;
  }

  .nav-li:last-child {
    margin-bottom: 0;
  }

  .nav-toggle {
    display: none;
  }

  .nav-li-link {
    // https://medium.com/@dave_lunny/stylish-a-styling-e80c80cbc30e
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: $half;
      transform: translateX(-$half);
      transition: $transition-main;
      background-color: $color-primary-0;
    }

    &:focus,
    &:hover {
      background-color: initial;
      color: $color-link-hover;
      transition: $transition-main;

      &:before {
        width: $full;
        height: $height-nav-li-link-hover;
        background-color: $dark-black;
      }
    }
  }
}
