@import 'modules';

.page-section {
  margin: 50vh 0;
  width: $full;
  padding: 20px;
  color: $dark-black;
  text-align: center;
  font-family: $font-main;
  font-weight: 100;
}

.section-content {
  position: relative;
}

.section-content-left {
  text-align: left;
}

.section-title,
.section-sub-title {
  margin-bottom: $spacing-small;
  font-family: $font-bold;
  font-size: $font-size-main;
}

.section-sub-title {
  display: inline-block;
  position: relative;
  font-size: $font-size-bold;
}

.section-p {
  margin-bottom: $spacing-small;
  font-size: $font-size-normal;
  line-height: 1.3em;
}

.section-em {
  font-style: italic;
}

.section-desc {
  display: block;
}
