@import 'modules';

.page-section {
  margin: 0 0 $spacing-large;
  width: $full;
  padding: $spacing-main;
  color: $dark-black;
  text-align: center;
  font-family: $font-main;
  font-weight: 100;
}

.section-content {
  position: relative;
}

.section-content-left {
  text-align: left;
}

.page-title {
  padding-bottom: $spacing-smaller;
  padding-left: $spacing-small;
  margin-bottom: $spacing-main;
  border-bottom: $border-page-title;
  border-bottom-right-radius: $spacing-smaller;
  font-family: $font-bold;
  font-size: $font-size-page-title;
}
