<h2 class="page-title">about me</h2>
<% @abouts.map do |about| %>
  <article class="article">
    <h3 class="article-title"><%= about.title %></h1>
    <%= about.pretty_text %>
  </article>
<% end %>
