<div class="content-wrapper" name="about">
  <div class="content">
    <div class="content-header">
      <h1>about</h1>
      <a href="#top" class="to-top"><i class="fa fa-arrow-circle-up"></i></a>
    </div>
    <p>I am a web developer. I will try things here.</p>
    <p>I am happily working at <a href="http://www.ditto.us.com" class="page-link">Ditto Labs</a> where I work mainly on front-end development.</p>
    <h2>my background</h2>
    <p>I became a web developer in 2015 after working my young professional life in financial services. I was last managing operations of a platform of alternative investments (i.e., hedge funds, private equity) for bokerage and private bank investors with a degree in Finance from Bentley University.</p>
    <p>I enjoyed mastering a complex environment by delivering user friendly information catered to many different clients, partners, and team members with speed and efficiency. As critical situations would emerge, I was "the guy" to handle it.</p>
    <h2>my decision</h2>
    <p>But money has existed for centuries. I needed to apply my creativity and test my potential. I'm only here for so long so I might as well build as much stuff as I can to show for it.</p>
    <p>Inspired by the tech boom, I knew I had to get involved in a space on the innovative edge. The future will be more digital and interactive. There will be more content with immediate demand. I had the capacity to understand complex problems, the creativity, the resourcefulness and the desire to learn. I just didn't have the skillset to contribute immediately. So I decided to become a web developer.</p>
    <h2>my success</h2>
    <p>I started by going to coffee shops before and after work to learn to code. Building new sites/apps from scratch was a rewarding experience, but I found it difficult to retain a lot of the material when running into roadblocks while having a full-time job and social obligations. I knew coding was for me, but I was never going to change my path unless I made a full commitment.</p>
    <p>I enrolled in General Assembly's <a href="https://generalassemb.ly/education/web-development-immersive" class="page-link">Web Development Immersive</a> program to learn best practices in a focussed environment. It was the best decision I've ever made. I am now a full-stack web developer capable of building a platform like Twitter (had it not already been created). I am working for a <a href="http://www.ditto.us.com" class="page-link">great startup</a> where I now get to build on a number of unique products and learn new things everyday.</p>
  </div>
  <a href="/" class="contact-link back-home">back to home</a>
</div>