@import 'variables';
@import 'header';

a,
a:focus,
a:hover,
a:before,
a:after {
 text-decoration: none;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

body {
  background: $gold;
}

