@import 'variables';
@import 'header';
@import 'contact';
@import 'page-content';

a,
a:focus,
a:hover,
a:before,
a:after {
 text-decoration: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

body {
  background: $main;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  // font-size: 100%;
}

