.contact-wrapper {
	width: $col-eight;
	max-width: 300px;
	display: inline-block;
	margin: 20px auto;
	text-align: center;
}

.contact-list-item {
	display: inline-block;
	width: $col-three;
	height: 50px;
	float: left;
}

.contact-link {
	width: $col-twelve;
	color: $dark-black;
	font-size: 3em;
}

.contact-link:focus,
.contact-link:hover {
	color: $white;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}