.pig-pen {
  height: 500px;
  width: 500px;
  background: $white;
  margin: 20px auto;
  border: 2px solid $black;
}

.pig-head {
  height: 50%;
  width: 50%;
  background: pink;
  margin: 0 auto;
  vertical-align: middle;
}