@import '../modules';

.form-input-text {
  display: block;
  width: $full;
  padding: $spacing-input;
  border: $border-input;
  border-radius: $border-radius-input;
  font-size: $font-size-input;
  font-family: $font-main;
}

.form-input-text-inline {
  width: initial;
  display: inline-block;
}

.control-group.error .form-input-text {
  font-size: $font-size-main;
}

.form-input-textarea {
  height: 10em;
}
