<div class="page-content">
  <p class="page-tagline">a software engineer in a cambridge startup, doing things</p>
  <div id="pat-logo"></div>
  <div class="page-section">
    <p>Working on personal projects in my free time. Feel free to reach out to chat!</p>
  </div>
</div>
