<div class="page-section">
  <div class="section-content">
    <ul class="page-ul">
      <li class="page-li">mainer</li>
      <li class="page-li">web developer</li>
      <li class="page-li">startup co-founder</li>
    </ul>
    <div id="pat-logo"></div>
  </div>
</div>

<div class="page-section">
  <div class="section-content section-content-left">
    <h2 class="section-title">current status</h2>
    <p class="section-p">No longer at my startup, I am looking for work!</p>
    <p class="section-p">I will be looking to rearrange this site a bit to demonstrate all the things I can do and have learned in a blog format. In the meantime I've liked a bunch of tweets that I'll be following up on if you'd like to check those out. Feel free to contact me below or via the widget.</p>
  </div>
</div>


