<div class="page-content">
  <p class="page-tagline">a software engineer in a cambridge startup, doing things</p>
  <div class="page-section">
    <p>In the lab working on personal projects. Feel free to reach out to chat!</p>
  </div>
</div>