<div class="page-section">
  <div class="section-content">
    <div class="page-tagline">
      <span class="tagline-section">mainer </span>
      <span class="tagline-section">web developer </span>
      <span class="tagline-section">startup co-founder </span>
    </div>
    <div id="pat-logo"></div>
  </div>
</div>

<div class="page-section">
  <div class="section-content">
    <h2 class="section-title">Current Project:</h2>
    <h3 class="section-sub-title"><%= link_to 'OpenCity', 'https://www.askopencity.com', id: 'opencity-link', class: 'pat-link page-link', target: '_blank' %></h3>
    <p class="section-p">A messaging service for SMB's to communicate with their customers via SMS or web messaging</p>
    <p class="section-p">
      <span class="section-em">Let's chat!</span>
    </p>
  </div>
</div>

<div class="page-section">
  <div class="section-content">
    <h2 class="section-title">
      <p class="section-p">
        <a href="sms:+12076504023" class="pat-link page-link">Text Me</a>
      </p>
      <p class="section-p">
        <a href="sms:+12076504023;&body=yo" class="pat-link page-link">Yo Me</a>
      </p>
    </h2>
  </div>
</div>

