<div class="page-section">
  <div class="section-content">
    <div class="page-tagline">
      <span class="tagline-section">mainer </span>
      <span class="tagline-section">web developer </span>
      <span class="tagline-section">startup co-founder </span>
    </div>
    <div id="pat-logo"></div>
  </div>
</div>
<div class="page-section">
  <div class="section-content">
    <h2 class="section-title">Current Project:</h2>
    <h3 class="section-sub-title"><%= link_to 'OpenCity', 'https://www.askopencity.com', id: 'opencity-link', class: 'pat-link page-link', target: '_blank' %></h3>
    <p class="section-p">A chat web app for businesses to communicate internally and directly with guests via SMS or a widget on their website</p>
    <p class="section-p">
      <span class="section-em">Back End</span>
      <span class="section-desc">Ruby on Rails</span>
    </p>
    <p class="section-p">
      <span class="section-em">Front End</span>
      <span class="section-desc">HTML, SCSS, JS</span>
    </p>
    <p class="section-p">
      <span class="section-em">Tools</span>
      <span class="section-desc">Twilio (SMS/online chat)</span>
      <span class="section-desc">OneSignal (push notifications)</span>
      <span class="section-desc">Stripe (payments)</span>
      <span class="section-desc">Let's Encrypt (SSL)</span>
    </p>
    <p class="section-p">
      <span class="section-em">Let's chat!</span>
    </p>
  </div>
</div>

