<div class="page-section">
  <div class="section-content">
    <div class="page-tagline">
      <span class="tagline-section">a web developer </span>
      <span class="tagline-section">in a cambridge startup </span>
      <span class="tagline-section">building things on the internet </span>
    </div>
    <div id="pat-logo"></div>
  </div>
</div>
<div class="page-section">
  <div class="section-content">
    <h2 class="section-title">Current Side Project:</h2>
    <h3 class="section-sub-title"><%= link_to 'OpenCity', 'https://www.askopencity.com', class: 'link', target: '_blank' %></h3>
    <p class="section-p">A chat app for messaging directly with businesses via SMS or a chat widget on their website</p>
    <p class="section-p">Back End: Ruby on Rails</p>
    <p class="section-p">Front End: HTML, SCSS, JS</p>
    <p class="section-p">Tools: Twilio (SMS/IP Messaging), OneSignal (notifications), Stripe (payments)</p>
    <p class="section-p">Ask me about it!</p>
  </div>
</div>

