<div class="page-section">
  <div class="section-content">
    <ul class="page-ul">
      <li class="page-li">mainer</li>
      <li class="page-li">web developer</li>
      <li class="page-li">startup co-founder</li>
    </ul>
    <div id="pat-logo"></div>
  </div>
</div>

<div class="page-section">
  <div class="section-content section-content-left">
    <h2 class="section-title">about me</h2>
    <h3 class="section-sub-title">professional</h3>
    <p class="section-p">I entered the world of web development at the beginning of 2015 after working years in financial services when I realized I could effectively process and communicate complex systems under high pressure. I wanted to use my creativity, resourcefulness, and work ethic to accomplish more innovative goals that would have a larger impact on the world so I needed to learn to code.</p>

    <p class="section-p">I joined General Assembly's <%= link_to 'Web Development Immersive', 'https://generalassemb.ly/education/web-development-immersive', class: 'pat-link page-link', target: '_blank'  %> program to more quickly get the skills I needed and soon after got a job building web apps at a startup (Ditto Labs) that used computer vision detecting brand logos, objects, and sentiment in images. The startup eventually failed and I went full-time on a side project I had started with a friend.</p>

    <p class="section-p">The side project became <%= link_to 'OpenCity', 'https://opencity.co', id: 'opencity-link', class: 'pat-link page-link', target: '_blank' %> which is a messaging platform for restaurants and night clubs to communicate back and forth with their customers via text. I built the platform from concept to scale where we were able to raise one of the largest seed investment rounds in Greater Boston and gained the attention of the entire restaurant industry.</p>

    <p class="section-p">Given an outlook of future success, the ability to attract experienced engineers, and the challenging lifestyle it took to get the company to where it is today, I am no longer working day to day on OpenCity. I am using my time now to catch up with the pace of modern web development (Node, React, GraphQL, machine learning, etc.) as I prepare for my next challenge.</p>

    <h3 class="section-sub-title">personal</h3>
    <p class="section-p">I grew up in Maine and am now living in Boston. I am fond of the beach and the mountains equally. In my free time I enjoy time with great friends and family, running, playing guitar, trips to Brooklyn, and nerding out to new music. For my next side-project I would like to explore making music with JavaScript.</p>
  </div>
</div>
