<a name="contact"></a>
<ul class="contact-wrapper">
	<li class="contact-list-item">
		<a class="contact-link" href="mailto:patrick.h.needham@gmail.com"><i class="fa fa-envelope-o"></i></a>
	</li>
	<li class="contact-list-item">
		<a class="contact-link" href="https://twitter.com/patneedham_" target="_blank"><i class="fa fa-twitter"></i></a>
	</li>
	<li class="contact-list-item">
		<a class="contact-link" href="https://www.linkedin.com/in/patrickneedham" target="_blank"><i class="fa fa-linkedin"></i></a>
	</li>
	<li class="contact-list-item">
		<a class="contact-link" href="https://www.facebook.com/patrick.h.needham" target="_blank"><i class="fa fa-facebook"></i></a>
	</li>
	<li class="contact-list-item">
		<a class="contact-link" href="https://github.com/goodeats" target="_blank"><i class="fa fa-github"></i></a>
	</li>
	<li class="contact-list-item">
		<a class="contact-link" href="https://instagram.com/patneedham_" target="_blank"><i class="fa fa-instagram"></i></a>
	</li>
	<li class="contact-list-item">
		<a class="contact-link" href="skype:patrick.h.needham" target="_blank"><i class="fa fa-skype"></i></a>
	</li>
	<li class="contact-list-item">
		<a class="contact-link" href="https://www.pinterest.com/patneedham_" target="_blank"><i class="fa fa-pinterest"></i></a>
	</li>
</ul>