<div class="footer-wrapper">
  <div class="footer-content">
    <a name="contact"></a>
    <ul class="contact-wrapper fade-in">
      <li class="contact-list-item">
        <a id="gmail-footer-link" class="contact-link" href="mailto:patrick.h.needham@gmail.com"><i class="fa fa-envelope-o"></i></a>
      </li>
      <li class="contact-list-item">
        <a id="twitter-footer-link" class="contact-link" href="https://twitter.com/patneedham_" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="contact-list-item">
        <a id="linkedin-footer-link" class="contact-link" href="https://www.linkedin.com/in/patrickneedham" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li class="contact-list-item">
        <a id="facebook-footer-link" class="contact-link" href="https://www.facebook.com/patrick.h.needham" target="_blank"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="contact-list-item">
        <a id="github-footer-link" class="contact-link" href="https://github.com/goodeats" target="_blank"><i class="fa fa-github"></i></a>
      </li>
      <li class="contact-list-item">
        <a id="instagram-footer-link" class="contact-link" href="https://instagram.com/patneedham_" target="_blank"><i class="fa fa-instagram"></i></a>
      </li>
      <li class="contact-list-item">
        <a id="google-plus-footer-link" class="contact-link" href="https://plus.google.com/u/1/105806344678198972772" target="_blank"><i class="fa fa-google-plus"></i></a>
      </li>
      <li class="contact-list-item">
        <a id="pinterest-footer-link" class="contact-link" href="https://www.pinterest.com/patneedham_" target="_blank"><i class="fa fa-pinterest"></i></a>
      </li>
    </ul>
    <p class="footer-tagline">cheers! <i class="fa fa-hand-peace-o"></i><span class="footer-trademark">PN '15</span></p>
  </div>
</div>
