<a name="top"></a>
<div id="nav">
  <div class="header-title">
    <h1 class="title"><%= image_tag('pat_logo.png', alt: 'pat needham, yo', class: 'logo') %>at Needham</h1>
    <div class="bulb"></div>
  </div>
  <ul>
    <li><a href="#about" class="nav-link">about</a></li>
    <li><a href="#work" class="nav-link">work</a></li>
    <li><a href="#blog" class="nav-link">blog</a></li>
    <li><a href="#contact" class="nav-link">contact</a></li>
  </ul>
</div>
